@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Medical Anamnesia</h1>
<div class="form-row">
    <div class="form-group">
        <label>Owner's Health Concern</label>
        <textarea class="form-control" id="healthconcer" name="healthconcer"></textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <div class="form-group">
            <label>Physical Examination</label>
            <textarea class="form-control" id="physicalexam" name="physicalexam"></textarea>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <div class="form-group">
            <label>Needs</label>
            <textarea class="form-control" id="need" name="need"></textarea>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <div class="form-group">
            <label>Service</label>
            <textarea class="form-control" id="service" name="service"></textarea>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <div class="form-group">
            <label>Last Medication</label>
            <textarea class="form-control" id="lastmedication" name="lastmedication"></textarea>
        </div>
    </div>
</div>

