@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<span class="border">
    <h1>Medical History</h1>

</span>
<div class="form-row">
    <div class="form-group">
        <label div class="col-md-3">Eating</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Eating" id="Eating1" value="Y">
            <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Eating" id="Eating2" value="N">
            <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <label>Drinking</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Drinking" id="Drinking1" value="Y">
            <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Drinking" id="Drinking2" value="N">
            <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <label>Coughing</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Coughing" id="Coughing1" value="Y">
            <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Coughing" id="Coughing2" value="N">
            <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <label>Sneezing</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Sneezing" id="Sneezing1" value="Y">
            <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Sneezing" id="Sneezing2" value="N">
            <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        <label>Diarhea</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Diarhea" id="Diarhea1" value="Y">
            <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Diarhea" id="Diarhea2" value="N">
            <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
    </div>
</div>

