@{
    ViewData["Title"] = "List Pets";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@using Black_Rose.Models;
@model Black_Rose.Models.PetModel;
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Search Pets</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Pets" asp-action="List" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" id="namahewan" name="namahewan" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Jenis Hewan</label>
                            <input type="text" class="form-control" id="klasifikasi" name="klasifikasi" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Nama Pemilik</label>
                            <input type="text" class="form-control" id="pemilik" name="pemilik" />
                        </div>
                    </td>
                </tr>
            </table>
            <div class=" form-group">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="reset" class="btn btn-default">Clear</button>
            </div>

        </form>
    </div>
    <div class="card-footer"></div>
</div>

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">List hewan</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<td>No</td>*@
                    <td>Nama Pemilik</td>
                    <td>Nama Hewan</td>
                    <td>Jenis</td>
                    <td colspan="2" align="center">Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in ViewData["Pets"] as IEnumerable<Black_Rose.Models.PetModel>)
                {
                    <tr>
                        <td>@data.idpemilik </td>
                        <td>@data.nama </td>
                        <td>@data.jenis</td>
                        <td><a href="https://localhost:44360/pets/editpage/@data.id"><i class="icofont-edit"></i></a></td>
                        <td><a href="https://localhost:44360/pets/delete/@data.id"><i class="icofont-delete-alt"></i></a></td>
                        @*<td><a href="https://localhost:44360/MedicalRecord/Examination/@data.id"><i class="icofont-search"></i></a></td>*@

                    </tr>
                }

            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" onclick="ToCreate()">New Pet</button>

    </div>

</div>


<script>
    function ToCreate() {
        window.location = "/pets/AddPage";
    };
</script>
