@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<link rel="stylesheet" href="~/lib/Choices-master/public/assets/styles/choices.css" />
<script src="~/lib/Choices-master/public/assets/scripts/choices.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To EmedRec</p>
</div>